= form_for @league do |f|
  - if @league.errors.any?
    #error_explanation
      %h2= "#{pluralize(@league.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @league.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :start_date
    = date_field("league", "start_date")
  .form-group
    = f.label :end_date
    = date_field("league", "end_date")
  .form-group
    = f.label :number_of_players
    = f.number_field :number_of_players, class: 'form-control'
  .form-group
    = f.label :number_of_winners
    = f.number_field :number_of_winners, class: 'form-control'
  .form-group
    = f.label :number_of_dropots
    = f.number_field :number_of_dropots, class: 'form-control'
  .form-group
    = f.label :best_of
    = f.number_field :best_of, class: 'form-control'
  .form-group
    = f.label :win_points
    = f.number_field :win_points, class: 'form-control'
  .form-group
    = f.label :loss_points
    = f.number_field :loss_points, class: 'form-control'

  =f.submit 'Save', class: 'btn btn-default'
  = link_to 'Back', leagues_path