= link_to 'Rounds', edit_all_league_path(@league), class: 'btn btn-default'

= render 'form'

%table.table
  %tr
    %th
    %th id
    %th Firstname
    %th Lastname
    %th Max break
    %th E-mail
    %th
    %th
  - @league_players.each_with_index do |player, index|
    %tr
      %td= index + 1
      %td= player.id
      %td= player.firstname
      %td= player.lastname
      %td= player.max_break
      %td= player.email
      %td= link_to 'Show', player
      %td= link_to 'Delete',  remove_player_league_path(@league, player)

%table.table
  %tr
    %th id
    %th Firstname
    %th Lastname
    %th Max break
    %th E-mail
    %th
    %th
  - @players.each do |player|
    %tr
      %td= player.id
      %td= player.firstname
      %td= player.lastname
      %td= player.max_break
      %td= player.email
      %td= link_to 'Show', player
      %td= link_to 'Add',  add_player_league_path(@league, player)
