#{ provide(:title, @league.name) }
%div{"ng-controller" => "leagueController", "model"=>"#{@league.id}"}

  %flash:messages

  = render 'shared/loading'

  %div{"ng-hide"=>"loading"}
    .showTables
      .container
        = render 'shared/table'
      %a{"href"=>"", "ng-show"=>"showAllText", "ng-click"=>"showAll()"}
        Show all matches
      .leagueBreaksContainer
        %table.leagueBreaks
          %tr{"ng-repeat"=>"player in league.playersBreaks | orderBy:'breaks[0]':true"}
            %td{"ng-bind"=>"player.name"}
            %td
              = render 'breaks'
              //%div{"ng-repeat"=>"break in player.breaks track by $index"}
              //%div{"ng-bind"=>"break + ', '"}

    .showRounds
      .container
        .round{"ng-repeat"=>"round in league.rounds"}
          .roundTitle
            %h3.number{"ng-bind"=>"round.number + '. Round'"}
            .date
              %span{"ng-bind"=>"round.start_date | date:'yyyy-MM-dd'"}
              %span -
              %span{"ng-bind"=>"round.end_date | date:'yyyy-MM-dd'"}
          .match{"ng-repeat"=>"match in round.matches", "ng-class"=>"match.class"}
            %span.date{"ng-bind"=>"match.date | date:'yyyy-MM-dd'"}
            %table
              %tr.score
                %th.name{"ng-bind"=>"match.player_1.name"}
                %th{"ng-bind"=>"match.player_1_frames"}
                %th{"ng-bind"=>"' : '"}
                %th{"ng-bind"=>"match.player_2_frames"}
                %th.name{"ng-bind"=>"match.player_2.name"}
              %tr.frame{"ng-repeat"=>"frame in match.frames"}
                %td
                  = render 'breaks1InFrame'
                %td
                  %div{"ng-bind"=>"frame.player_1_points"}
                %td{"ng-bind"=>"' : '"}
                %td
                  %div{"ng-bind"=>"frame.player_2_points"}
                %td
                  = render 'breaks2InFrame'


  = link_to 'Back', players_path
