%div{"ng-controller" => "roundsEditController","model"=>"#{@league.id}"}
  = link_to 'Generate empty',   generate_empty_league_path(@league), class: 'btn btn-default'
  = link_to 'Generate filled',   generate_filled_league_path(@league), class: 'btn btn-default'
  = link_to 'Back to edit league',   edit_league_path(@league), class: 'btn btn-default'

  %h1{"ng-bind"=>"league.name"}

  - if @league.updated_at < @rounds.first.updated_at

    %br
    Players:
    = @players.size
    %br
    Rounds:
    = @rounds.size
    %br
    Matches:
    = @matches
    %br

    %div{"ng-repeat"=>"round in league.rounds"}
      %h3{"ng-bind"=>"round.number + ' Round'"}
      %input{"type"=>"date", "ng-model"=>"round.start_date"}
      %input{"type"=>"date", "ng-model"=>"round.end_date"}
      %div{"ng-repeat"=>"match in round.matches"}
        %p{"ng-bind"=>"match.date | date:'yyyy-MM-dd'  + ': '"}
        %select{"ng-model"=>"selLeague.rounds[$parent.$index].matches[$index].player_1.id",
                "ng-options"=>"player.id as player.name for player in league.players",
                "ng-change"=>"updatePlayer($parent.$index, $index, 1)"}
        %select{"ng-model"=>"selLeague.rounds[$parent.$index].matches[$index].player_2.id",
                "ng-options"=>"player.id as player.name for player in league.players",
                "ng-change"=>"updatePlayer($parent.$index, $index, 2)"}
        %p{"ng-bind"=>"match.player_1.name + ' vs ' + match.player_2.name"}

  - else
    %p League was updated, you mast generate rounds.

