= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :firstname
    = f.text_field :firstname, class: 'form-control'
  .form-group
    = f.label :lastname
    = f.text_field :lastname, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :date_of_birth
    =date_field("player", "date_of_birth")
  .form-group
    = f.label :max_break
    = f.text_field :max_break, class: 'form-control'
  .form-group
    = f.label :phone_number
    = f.text_field :phone_number, class: 'form-control'
  .form-group
    = f.label :city
    = f.text_field :city, class: 'form-control'

  =f.submit 'Save', class: 'btn btn-default'
  = link_to 'Back', players_path